<div class="container">
  <h2>Create a new Video</h2>
  <div class="container part">
    <select id="videoTemplateSelectMenu" (change)="selectedTemplate($event.target.value)" class="custom-select">
      <option id="{{c.name}}Id" value="{{c.name}}" *ngFor="let c of service.listVideoTemplates">
        {{c.name}} (level {{c.levelNeeded}})
      </option>
    </select>
  </div>

  <div *ngIf="this.service.templateSelected && this.service.templateSelected.ready === true">
  <div class="container part">
    <div class="row">
      <div class="col-sm">
        You will earn :
      </div>
      <div class="col-sm">
        {{service.templateSelected.baseLikes/1000}}k likes
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        You will lose :
      </div>
      <div class="col-sm">
        {{service.templateSelected.moneyCost}} money
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        It needs
      </div>
      <div class="col-sm">
        {{service.templateSelected.levelNeeded}} levels
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        Its cooldown is :
      </div>
      <div class="col-sm">
        {{service.templateSelected.cooldown}} seconds
      </div>
    </div>
  </div>

    <div class="container part">
      <button
        class="btn btn-secondary listButtons"
        (click)="addActionToVideo(extraAction)"
        *ngFor="let extraAction of service.listVideoExtraActions"
        [disabled]="! this.statService.isLevelOf(extraAction.levelNeeded)"
      >
        {{extraAction.name}}
      </button>
    </div>

    <div class="container part">
      <h3>Video recap</h3>
      <div class="row">
        <div class="col-sm">
          <span class="stat">{{service.getCurrentEarnedLikes()/1000}}k</span> likes
        </div>
        <div class="col-sm">
          <span class="stat">{{service.getCurrentEarnedMoney()/1000}}k</span> $
        </div>
        <div class="col-sm">
          <span class="stat">{{service.getEarnedSubscribers()/1000}}k</span> subscribers
        </div>
      </div>
    </div>

    <div *ngIf="service.currentActionsInVideo" class="container part">
      <button
        class="btn btn-primary listButtons"
        (click)="service.removeActionFromVideo(extraAction)"
        *ngFor="let extraAction of service.currentActionsInVideo">
        {{extraAction.name}}
      </button>
      <div>
        Remaining slots : {{getRemainingVideoExtraActionSlots()}}
      </div>
    </div>

    <div class="container part">
      <button class="btn btn-outline-primary" (click)="this.publishVideo()">Publish this mindblowing video</button>
    </div>

  </div>
</div>
