<div class="container">
  <div class="row">
    <div class="col-sm">
      <span class="stat">{{printLikesNumber()}}</span> likes
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <span class="stat">{{this.service.money}} $</span>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      Level {{this.service.getCurrentLevel()}}
      <div class="progress progressBar" style="height: 108px; font-size: 48px; padding: 8px">
        <div class="progress-bar progress-bar-striped progress-bar-animated"
             role="progressbar"
             [style.width]="this.service.getSubscribersPercentage() + '%'"
             aria-valuemin="0"
             aria-valuemax="100"
        >{{service.subscribers}} <span style="font-size: 12px">subscribers</span></div>
      </div>
    </div>
  </div>

  <h3>Water bills</h3>
  <div class="progress progressBar">
    <div class="progress-bar"
         role="progressbar"
         [style.width]="this.service.waterBills + '%'"
         aria-valuemin="0"
         aria-valuemax="100"
    >{{this.service.waterBills}}%</div>
  </div>
  <button (click)="payForWaterBills()" class="btn btn-primary">
    Pay for water bills
    <span class="badge badge-danger">-{{this.service.getMoneyToPayForWaterBills()}}$</span>
  </button>

  <h3>Internet Bills</h3>
  <div class="progress progressBar">
    <div class="progress-bar"
         role="progressbar"
         [style.width]="this.service.internetBills + '%'"
         aria-valuemin="0"
         aria-valuemax="100"
    >{{this.service.internetBills}}%</div>
  </div>
  <button (click)="payForInternetBills()" class="btn btn-primary">
    Pay for internet bills
    <span class="badge badge-danger">-{{this.service.getMoneyToPayForInternetBills()}}$</span>
  </button>
</div>
