<div class="container">
  <h1>Mindblowing Davie504 dashboard</h1>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <app-action-in-videos></app-action-in-videos>
    </div>
    <div class="col">
      <app-create-video></app-create-video>
    </div>
  </div>
</div>
<app-stat></app-stat>

